#script_pane{
 border: 1px solid #ccc;
 height: 720px;
 width: 950px;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 12px;
 overflow:scroll;
 /* border-bottom: none; */
}

#scriptId{
  display:none;
}

#scriptName, #scriptTreePath{
 margin: 5px 10px;
 width: 500px;
 display:inline-grid;
}

#methodType{
  display:none;
}

/* #scriptName, #save-script{
  display: inline;
} */

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
    font-weight: bold;
    color: blue;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    /* border: 1px solid #ccc; */
    border-top: none;
    height:500;
    width:700;
}

#save-script{
  float:right;
  background-color: coral;
  margin: 0px 5px;
  padding: 12px 12px;

}

#steps-dropdown{
  margin: 10px 0px 5px 5px;
}

.step{
  width: 500px;
  border: 10px 10px 10px 10px;
  border-style:ridge;
  margin: 20px 30px;
}

.step-expand-collapse{
  cursor: pointer;
  display:inline-flex;
  font-size: 18px;
  font-weight: bold;
  font-family:inherit;
  background-color: #5499C7;
  color:#FFFFFF;
  width: 475px;
  float:left;
  margin:0px 0px 5px 0px;
}

.step-expand-collapse, #deleteStep{
    display: inline;
}

#deleteStep{
  float:right;
}

#step-body label,input{
  display:inline;
}

#captureUrl{
 margin: 5px 10px;
 width: 300px;
}

#manual-tc{
  font-family: inherit;
  font-size: inherit;
}

#manual-tc tbody tr td{
  text-align: left;
}

#add-param, #add-testdata-row, #add-testdata-column{
  margin: 10px 10px;
}

#Testdata{
  overflow: scroll;
  height: inherit;
  width:900px;
  font-size: 12px;
  font-family: inherit;
}

#Testdata h2{
  color: coral;
}

#Testdata table{
  font-size: 12px;
  font-family: inherit;
}

#Testdata table tbody td{
  font-size: 12px;
  font-family: inherit;
  padding: 2px 2px;
}
