<footer class="footer">
   <div class="container">
      <a href="http://www.dxc.technology/" style="font-size: 20px;background-color: lightblue;display:block;text-align:center;margin:50px 0px;">DXC</a>
   </div>
</footer>
