<html>
  <!-- <head>
    <link rel="stylesheet" type="text/css" href="/public/css/styles.css" />
  </head> -->

  <body>
    <div id="mainadmin">
 <form action="/mainadmin" method="POST">
        <label>First Name:</label>
        <input type="text" id="firstName" name="firstName" />
        <label>Last Name:</label>
        <input type="text" id="lastName" name="lastName" />
        <label>Email:</label>
        <input type="email" id="email" name="email" />
        <input type="submit" id="createUser" name="createUser" value="Create User"/>
      </form>
    </div>

    </body>
  </html>
