<html>
   <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.5/themes/default/style.min.css" />
      <link rel="stylesheet" type="text/css" href="/public/css/styles.css" />
      <link rel="stylesheet" type="text/css" href="/js/projectlab/tree/styles.css" />
      <link rel="stylesheet" type="text/css" href="/js/projectlab/scriptpane/styles.css" />
   </head>
   <body>
      <div id="script-page">
          <% include tree.ejs %>

          <div id="script_pane">
                <label>Script Name:</label>
                <input type="text" name="scriptName" id="scriptName" readonly/>
                <br>
                <label>Script Path:</label>
                <input type="text" name="scriptTreePath" id="scriptTreePath" readonly/>
                <br>
                <br>

                <div class="tab">
                    <button class="tablinks" id="defaultTab" onclick="openTab(event, 'Automation')">Automation</button>
                    <button class="tablinks" onclick="openTab(event, 'Manual')">Manual Testcase</button>
                    <button class="tablinks" onclick="openTab(event, 'Testdata')">Testdata</button>
                </div>

                <div id="Automation" class="tabcontent">
                    <h3>Automation</h3>
                    <p>This tab is for automation</p>
                </div>

                <div id="Manual" class="tabcontent">
                    <table id="manual-tc">
                        <thead>
                          <tr>
                              <th>S.no</th>
                              <th>Step Description</th>
                              <th>Expected Result</th>
                          </tr>
                        </thead>
                        <tbody>
                               <!-- <tr>
                                 <td>1</td>
                                 <td>sample step</td>
                                 <td>sample expected result</td>
                               </tr> -->
                        </tbody>
                    </table>
                </div>

                <div id="Testdata" class="tabcontent">
                    <a href="#">Testdata Template</a>
                    <br>
                    <textarea id="testdata" style="height:600px;width:850px;"></textarea>
                </div>
          </div>
      </div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.5/jstree.min.js"></script>
      <script src="js/projectlab/tree/tree.js"></script>
      <script src="js/projectlab/scriptpane/scriptpane.js"></script>
   </body>
</html>
