<html>
   <head>
      <style>
         #script-tree-border{
           border:1px solid black;
           margin: 90px 0px 0px 0px;
           /* height:700px; */
           width:280px;
           font-family: Arial, Helvetica, sans-serif;
           font-size: 11px;
         }

         #tree-create-folder, #tree-create-script, #tree-node-rename, #tree-node-delete{
           font-size:11px;
           display: inline-block;
           margin: 10px 0px 6px 6px;
         }

         #tree-node-delete{
           margin-left: 35px;
         }

         #jstree{
           border:1px solid black;
           height:642px;
           width:280px;
           overflow:scroll;
         }

         img{
           margin: 5px 15px;
         }

         #script-tree-border, #script_pane{
           display:inline-table;
         }
      </style>
   </head>
   <body>
      <div id="script-tree">
        <div id="script-tree-border">
          <span><strong>Actions</strong></span>
          <br>
          <img src="/public/images/addfolder-32-32.png" alt="Add Folder" onclick="addFolder();" />
          <img src="/public/images/addscript-32-32.png" alt="Add Script" onclick="addScript();" />
          <img src="/public/images/edit-32-32.png" alt="Rename" onclick="renameNode();" />
          <img src="/public/images/delete-32-32.png" alt="Delete" onclick="deleteNode();" />
          <div id="jstree"></div>
        </div>
        <div id="script_pane">
        </div>
      </div>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.5/jstree.min.js"></script>
      <script>
         $(document).ready(function(){
             $('#jstree')

                .on('changed.jstree', function (e, data) {
                    if(data.instance.get_type(data.selected[0]) == 'file'){
                      console.log(data.selected[0]);
                      selectedNode = data.instance.get_node(data.selected[0]).id;
                      parent = data.instance.get_parent(data.selected[0]);
                      $('#script_pane').html('Selected: ' + selectedNode + '<br>' + 'Parent:' + parent);
                    }else{
                      $('#script_pane').html('');
                    }
                })

                .jstree({
                     "core" : {
                                "check_callback" : true,
                                'data' : {
                                            'url' : '/api/tree',
                                            'data' : function (node) {
                                                return { 'id' : node.id };
                                            }
                                         }
                               },
                     "types" : {
                                  "#" : { "max_children" : 100, "max_depth" : 10, "valid_children" : ["root"] },
                                  "root" : { "icon" : "/public/images/folder-16-16.png", "valid_children" : ["folder"] , "selected": false},
                                  "folder" : { "icon" : "/public/images/folder-16-16.png", "valid_children" : ["folder","file"] },
                                  "file" : { "icon" : "/public/images/file-16-16.ico", "valid_children" : [] }
                                },
                     "plugins" : [ "changed", "dnd", "sort", "state", "unique", "types" ]
                });
         });

         function getParent(nodeId){

         }

         function addFolder() {
            var treeRef = $('#jstree').jstree(true);
            currentSelected = treeRef.get_selected();
            if (!currentSelected.length) {
              alert("Please select a folder before creating new folder");
              return false;
            }
            currentSelected = currentSelected[0];
            currentSelected = treeRef.create_node(currentSelected, {"type": "folder", "text": prompt("Enter folder name:")});

            if (currentSelected) {
              treeRef.edit(currentSelected);
            }

            postTreeDataToServer();
        };

        function addScript() {
           var treeRef = $('#jstree').jstree(true);
           currentSelected = treeRef.get_selected();
           if (!currentSelected.length) {
             alert("Please select a folder before creating new script");
             return false;
           }
           currentSelected = currentSelected[0];
           currentSelected = treeRef.create_node(currentSelected, {"type": "file", "text": prompt("Enter script name:")});

           if (currentSelected) {
             treeRef.edit(currentSelected);
           }

           postTreeDataToServer();
       };

        function renameNode(){
          var treeRef = $('#jstree').jstree(true);
          currentSelected = treeRef.get_selected();
          if (!currentSelected.length) {
             alert("Please select a folder before renaming");
             return false;
          }
          if(currentSelected == "root"){
            alert("Root folder cannot be renamed!!!");
          }else{
            currentSelected = currentSelected[0];
            treeRef.edit(currentSelected);
            postTreeDataToServer();
          }
        };

        function deleteNode() {
          var treeRef = $('#jstree').jstree(true);
          currentSelected = treeRef.get_selected();
          if (!currentSelected.length) {
            alert("Please select a folder before deleting");
            return false;
          }
          else{
            if(currentSelected == "root"){
              alert("Root folder cannot be deleted!!!");
            }
            else{
                if(confirm("Are you sure to delete this?")){
                    treeRef.delete_node(currentSelected);
                    postTreeDataToServer();
                }
            }
          }
        };

        //This is implementation of "jquery AJAX POST request"
        function postTreeDataToServer(){
            var treeRef = $('#jstree').jstree(true);
            rootJson = treeRef.get_json(null, { "flat" : true });
            $.ajax({
                type:'POST',
                url:'/api/tree',
                data: "[" + JSON.stringify(rootJson) + "]",
                success:function(){
                    console.log("SUCCESS: tree data is added to the file");
                },
                error:function(){
                    console.log("FAILED: failed to add tree data to the file");
                }
            });
        }

        //below function is not used. This is implementation of "jquery AJAX GET request"
        function getTreeDataFromServer(){
            $.ajax({
                type:'GET',
                url: '/api/tree',
                success: function(data){
                   console.log("SUCCESS: Tree data is fetched successfully!!!");
                   console.log(data);
                },
                error: function(){
                   console.log("FAILED: Failed to fetch tree data!!!");
                }
            })
        };
      </script>
      <script>
            function getSelectedNode(){
              var treeRef = $('#jstree').jstree(true);
              selectedNode = treeRef.getSelected().get_text();
              selectedText = treeRef.get_text(selectedNode);
            }
      </script>
   </body>
</html>
