<template id="params-table-row">
    <tr>
      <td>
        <select id="params-dropdown" class="params-dropdown">
           <option value="select param">--select param--</option>
           <option value="Header Param">Header Param</option>
           <option value="Query Param">Query Param</option>
           <option value="Path Param">Path Param</option>
        </select>
      </td>
      <td>
          <input type="text" id="param-name" class="param-name" name="param-name" onchange="saveScript();"/>
      </td>
      <td>
        <img id="deleteParam" name="deleteParam" class="deleteParam" src="/public/images/param-delete-icon-16-16.png" onclick="deleteParamRow(this);"/>
      </td>
    </tr>
</template>
