<html>
   <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.5/themes/default/style.min.css" />
      <link rel="stylesheet" type="text/css" href="/public/css/styles.css" />
      <link rel="stylesheet" type="text/css" href="/js/projectlab/tree/styles.css" />
      <link rel="stylesheet" type="text/css" href="/js/projectlab/scriptpane/styles.css" />
   </head>
   <body>
      <div id="script-page">
          <% include tree.ejs %>

          <div id="script_pane">
                <input type="text" name="scriptId" id="scriptId" readonly/>
                <label>Script Name:</label>
                <input type="text" name="scriptName" id="scriptName" readonly/>
                <br>
                <label>Script Path:</label>
                <input type="text" name="scriptTreePath" id="scriptTreePath" readonly/>
                <!-- <button id="save-script" name="save-script" onclick="saveScript();"><strong>SAVE</strong></button> -->
                <br>
                <br>

                <div class="tab">
                    <button class="tablinks" id="defaultTab" onclick="openTab(event, 'Automation')">Automation</button>
                    <button class="tablinks" onclick="openTab(event, 'Testdata')">Testdata</button>
                    <button class="tablinks" onclick="openTab(event, 'Manual')">Manual Testcase</button>
                </div>

                <div id="Automation" class="tabcontent">
                    <% include StepsDropDown.ejs %>
                    <% include StepsTemplate.ejs %>
                    <div id="automation-content"></div>
                </div>

                <div id="Testdata" class="tabcontent">
                  <label>For testdata template,</label>
                  <a id="clickhere">click here</a>

                  <!-- The Modal -->
                  <div id="myModal" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content">
                      <h2>Testdata Template</h2>
                      <textarea id="testdata-template" readonly></textarea>
                      <br>
                      <button id="copy" name="copy" class="copy">Copy</button>
                      <button id="close" name="close" class="close">Close</button>
                    </div>
                  </div>

                  <br />
                  <br />
                  <textarea id="testdata-textarea"></textarea>
                </div>

                <div id="Manual" class="tabcontent">
                    <table id="manual-tc">
                        <thead>
                          <tr>
                              <th>S.no</th>
                              <th>Step Description</th>
                              <th>Expected Result</th>
                          </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
          </div>
      </div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.5/jstree.min.js"></script>
      <script src="js/projectlab/tree/tree.js"></script>
      <script src="js/projectlab/scriptpane/scriptpane.js"></script>
   </body>
</html>
