<select id="steps-dropdown">
   <option value="add step">--add step--</option>
   <option value="GET method">GET method</option>
   <option value="POST method">POST method</option>
   <option value="PUT method">PUT method</option>
   <option value="DELETE method">DELETE method</option>
</select>
