<template id="get-method">
   <br>
   <div id="step-panel">
       <label class="step-expand-collapse" for="step-expand-collapse-checkbox">Get Method</label>
       <input id="step-expand-collapse-checkbox" type="checkbox">
       <div id="step-header">
         <br>
         <label>Enter Endpoint URL:</label>
         <input type="text" id="captureUrl" name="captureUrl" />
       </div>
   </div>
</template>

<template id="post-method">
    <br>
    <div id="step-panel">
         <label class="step-expand-collapse" for="step-expand-collapse-checkbox">Post Method</label>
         <input id="step-expand-collapse-checkbox" type="checkbox">
         <div id="step-header">
           <br>
           <label>Enter Endpoint URL:</label>
           <input type="text" id="captureUrl" name="captureUrl" />
         </div>
     </div>
</template>
