<select id="steps-dropdown">
   <option value="select value">--select value--</option>
   <option value="Add HTTP Method">Add HTTP Method</option>
   <option value="Verify Status Code">Verify Status Code</option>
   <option value="Verify Response Content Type">Verify Response Content Type</option>
</select>
<button id="addStep" class="addStep" name="addStep"><strong>Add Step</strong></button>
