<div id="script-tree-border">
    <span><strong>Actions</strong></span>
    <br>
    <img src="/public/images/addfolder-32-32.png" alt="Add Folder" onclick="addFolder();" />
    <img src="/public/images/addscript-32-32.png" alt="Add Script" onclick="addScript();" />
    <img src="/public/images/edit-32-32.png" alt="Rename" onclick="renameNode();" />
    <img src="/public/images/delete-32-32.png" alt="Delete" onclick="deleteNode();" />
    <div id="jstree"></div>
</div>
<div id="right_panel">
    <div id="resize"></div>
</div>
